<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.zyuco.lab7">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.zyuco.lab7.MainActivity"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.zyuco.lab7.ItemDetailActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>

        <receiver android:name=".StaticReceiver">
            <intent-filter>
                <action android:name="com.zyuco.lab7.SHOW_RECOMMEND"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".widget.Provider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="com.zyuco.lab7.widget.CLICK"/>
                <action android:name="com.zyuco.lab7.widget.ITEM_UPDATE_STATIC"/>
                <action android:name="com.zyuco.lab7.widget.GO_DETAIL"/>
                <action android:name="com.zyuco.lab7.widget.GO_CART"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_info"/>
        </receiver>
    </application>

</manifest>